td{
    height: 30px;
    width: 30px;
    text-align: center;
    background-color: blue;
    border: 1px solid white;
}

.key{
    background-color: white;
    color: grey;
}


.ship{
    background-color: grey;
    border: 1px solid black;
}


