body{
    color: SlateGrey;
    font-family: Verdana;
}

h1{
    color: DarkSlateGrey;
    font-size: 30px;
    text-align: center;
}

h2{
    font-size: 25px;
    text-align: center;
}

h3{
    font-size: 20px;
    text-align: center;
}

h4{
    font-size: 18px;
    color: DarkSlateGrey;
    text-align: center;
}

p{
    padding: 0px;
    margin: 10px 0 0 0;
    font-size: 14px;
}

td{
    height: 30px;
    width: 30px;
    text-align: center;
    background-color: CornflowerBlue;
    border: 1px solid white;
}


.border{
    border-radius: 10px;
    border: 2px solid DarkSlateGrey;
    padding: 15px 0px 25px 15px;
}

.key{
    background-color: white;
    color: LightSlateGrey;
}


.ship{
    background-color: LightSlateGrey;
    border: 1px solid DimGrey;
}

.shipHidden{
}

.mySalvoes{
    background-color: DarkSlateGrey;
    border: 1px solid Black;
    color: Black;
}

.oppSalvoes{
    color: CornflowerBlue;
}

.hit{
    background-color: Crimson;
    border: 1px solid DarkRed;
    color: DarkRed;
}

th{
    text-align: center;
}

tbody{
    color: white;
}

.games{
    width: 100px;
}

#output{
    text-align: center;
}

.warning{
    color: red;
}

#logout_form{
    display: none;
}

#signup_form{
    display: none;
}

a{
    background-color: DarkCyan;
    color: white;
    border: 1px solid DarkSlateGrey; /*TODO: this doesn't show up */
    margin: 2px;
}

.completedGame{
    background-color: LightSlateGrey;
}

#aircraftCarrier[data-rotation="horizontal"] {
    height: 30px;
    width: 150px;
    text-align: center;
    border: 1px solid DarkSlateGrey;
    background-color: SlateGrey;
    margin: 0px;
    display: inline-block;
}

#battleship[data-rotation="horizontal"]  {
    height: 30px;
    width: 120px;
    text-align: center;
    border: 1px solid DarkSlateGrey;
    background-color: Grey;
    margin: 0px;
    display: inline-block;
}

#submarine[data-rotation="horizontal"]  {
    height: 30px;
    width: 90px;
    text-align: center;
    border: 1px solid DarkSlateGrey;
    background-color: DimGrey;
    margin: 0px;
    display: inline-block;
}

#destroyer[data-rotation="horizontal"]  {
     height: 30px;
     width: 90px;
     text-align: center;
     border: 1px solid DarkSlateGrey;
     background-color: LightSlateGrey;
     margin: 0px;
     display: inline-block;
 }

#patrolBoat[data-rotation="horizontal"] {
    height: 30px;
    width: 60px;
    text-align: center;
    border: 1px solid DarkSlateGrey;
    background-color: DarkSlateGrey;
    margin: 0px;
    display: inline-block;
}

#aircraftCarrier[data-rotation="vertical"] {
    height: 150px;
    width: 30px;
    text-align: center;
    border: 1px solid DarkSlateGrey;
    background-color: SlateGrey;
    margin: 0px;
    display: inline-block;
}

#battleship[data-rotation="vertical"] {
    height: 120px;
    width: 30px;
    text-align: center;
    border: 1px solid DarkSlateGrey;
    background-color: Grey;
    margin: 0px;
    display: inline-block;
}

#submarine[data-rotation="vertical"]  {
    height: 90px;
    width: 30px;
    text-align: center;
    border: 1px solid DarkSlateGrey;
    background-color: DimGrey;
    margin: 0px;
    display: inline-block;
}

#destroyer[data-rotation="vertical"]  {
     height: 90px;
     width: 30px;
     text-align: center;
     border: 1px solid DarkSlateGrey;
     background-color: LightSlateGrey;
     margin: 0px;
     display: inline-block;
 }

#patrolBoat[data-rotation="vertical"]  {
    height: 60px;
    width: 30px;
    text-align: center;
    border: 1px solid DarkSlateGrey;
    background-color: DarkSlateGrey;
    margin: 0px;
    display: inline-block;
}

#add_ships {
    margin: 20px;

 }

button.active {
    margin: 20px;
    opacity: 0;
    color: Yellow;
}

.shipPlacementDiv{ /* ASK: this ensures draggable object is on top of the other objects on the page */
    z-index: 1; /* This makes sure the ships to be placed are on top of the grid */
    display: none;
}

.boatSelector1{
    height: 180px;
}

.boatSelector2{
    height: 150px;
}

.boatSelector3{
    height: 120px;
}

.boatSelector4{
    height: 90px;
}

.fire_salvoes{

}