body{
    color: SlateGrey;
    font-family: Verdana;
}

h1{
    color: DarkSlateGrey;
    font-size: 30px;
    text-align: center;
}

h2{
    font-size: 25px;
    text-align: center;
}

h3{
    font-size: 20px;
    text-align: center;
}

h4{
    font-size: 18px;
    color: DarkSlateGrey;
    text-align: center;
}

td{
    height: 30px;
    width: 30px;
    text-align: center;
    background-color: CornflowerBlue;
    border: 1px solid white;
}


.border{
    border-radius: 10px;
    border: 2px solid DarkSlateGrey;
    padding: 15px 0px 25px 15px;
}

.key{
    background-color: white;
    color: LightSlateGrey;
}


.ship{
    background-color: LightSlateGrey;
    border: 1px solid DimGrey;
}

.shipHidden{
}

.mySalvoes{
    background-color: DarkSlateGrey;
    border: 1px solid Black;
    color: Black;
}

.oppSalvoes{
    color: CornflowerBlue;
}

.hit{
    background-color: Crimson;
    border: 1px solid DarkRed;
    color: DarkRed;
}

th{
    text-align: center;
}

tbody{
    color: white;
}